language: android
sudo: false
jdk:
  - oraclejdk8
android:
    components:
        - platform-tools
        - tools
        - build-tools-28.0.3
        - android-28
        - extra-android-m2repository
script:
    - cd BlinkCardSample
    - ./gradlew clean :BlinkCard-SimpleIntegration:assembleRelease