<manifest package="com.microblink"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.microblink.result.activity.RecognizerBundleResultActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.AppTheme">
        </activity>

    </application>

</manifest>